.menuItem {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
  width: 90%;
  margin: 0 auto;
  /* justify-content: space-between; this spreads out items */
  border-bottom: 0.1rem solid #ddd;
}

.image {
  width: 40%;
  height: 40%;
  border-radius: 10%;
}

.details {
  gap: 0.5rem;
  display: flex;
  flex-direction: column; /* this is how the items get aligned vertically (in rows) */
}

.title {
  font-size: 1.7rem;
  margin: 0;
}

.description {
  font-size: 1rem;
  color: #666;
  margin: 5px 0;
}

.price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-right: 1rem;
}

.price-button-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.quantity-button {
  border-radius: 45%;
  cursor: pointer;
  background-color: #5D8765;
  color: white;
  font-size: 1rem;
  border: none;
}

.add:hover {
  background-color: #C8AAAA;
} 